<div class="row no-gutters fullscreen">
  <div class="col-md-2"></div>
  <div class="col-md-8 mt-12 text-center" style="padding-top: 10%">
    <h1> A very long title</h1>
    <img class="img-fluid" src="assets/mL.png">
    <h3> Fun Page</h3>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row bg-white text-dark">
  <div class="col-md-12">
    <div class="p-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ea quidem culpa similique exercitationem soluta
      aspernatur delectus voluptates? Eos ex, doloremque eaque in reiciendis ab dolore consequuntur beatae nemo ipsum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus commodi iste eos expedita, ex est voluptates
      reprehenderit doloremque sint quae voluptatibus nam iusto aliquam earum? Earum veniam impedit placeat aut.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab deleniti quod magnam explicabo, dolorum optio,
      inventore nihil dolorem quia iure dolores saepe hic a possimus voluptas veniam illo atque quibusdam.

      <app-gallery [buttons]="gall_btn"></app-gallery>

    </div>

  </div>
</div>

<div class="row no-gutters fullscreen">
  <div class="col-md-2"></div>
  <div class="col-md-8 mt-12 text-center" style="padding-top: 10%">
    <h1> A very long title</h1>
    <img class="img-fluid" src="assets/mL.png">
    <h3> Fun Page</h3>
  </div>
  <div class="col-md-2"></div>
</div>